h1 {
  text-align: center;
}

.Welcome_txt {
  text-align: center;
  margin-bottom: 50px;
}

.card_container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  text-align: center;
}

.card_img {
  width: 300px;
  height: 300px;
}

.card_title {
  font-size: 30px;
}

.card_btn {
  font-size: 25px;
  width: 170px;
  height: 45px;
  background-color: white;
  border: 1px solid ;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(144, 143, 143);
}

.card_btn:hover {
background-color: rgb(224, 222, 222);
}